In [3]:
import pandas as pd
import numpy as np

In [4]:
#1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

data=[10,20,30,40,50]
x=pd.Series(data)
print(x)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
#2. Write a Pandas program to convert a Panda module Series to Python list and itâ€™s type.

q2=pd.Series([22,34,54,23,43,65])
print(q2)
print(type(q2))
print(q2.tolist())
print(type(q2.tolist()))

0    22
1    34
2    54
3    23
4    43
5    65
dtype: int64
<class 'pandas.core.series.Series'>
[22, 34, 54, 23, 43, 65]
<class 'list'>

In [36]:
# 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
 #  Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
arr1=pd.Series([2,4,6,8,10])
arr2=pd.Series([1,3,5,7,9])

print(f"addition")
ds=arr1+arr2
print(ds)

print(f"substraction")
ds=arr1-arr2
print(ds)

print(f"multiply")
ds=arr1*arr2
print(ds)

print(f"Division")
ds=arr1/arr2
print(ds)

addition
0     3
1     7
2    11
3    15
4    19
dtype: int64
substraction
0    1
1    1
2    1
3    1
4    1
dtype: int64
multiply
0     2
1    12
2    30
3    56
4    90
dtype: int64
Division
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [41]:
#4. Write a Pandas program to convert a dictionary to a Pandas series.

print(f"Dictionary:")
dict={'a':100,'b':200,'c':300,'d':400}
print(dict)
pan_series=pd.Series(dict)
print(f"pandas series:")
print(pan_series)

Dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400}
pandas series:
a    100
b    200
c    300
d    400
dtype: int64

In [6]:
#5. Write a Pandas program to convert a NumPy array to a Pandas series.

ds1=np.array([11,22,33])
ds2=pd.Series(ds1)
print(ds2)

0    11
1    22
2    33
dtype: int64

In [7]:
#6. Write a Pandas program to change the data type of given a column or a Series.

q1=pd.Series(['100','200','python','300.12','400'])
q2=pd.to_numeric(q1,errors='coerce')
print(q2)

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [8]:
#7. Write a Pandas program to convert a given Series to an array.

q3=np.array(q1)
print(q3)

['100' '200' 'python' '300.12' '400']

In [9]:
#8. Write a Pandas program to create a dataframe from a dictionary and display it.

df=pd.DataFrame({'X':[43,22,45,53,67],'Y':[87,76,45,98,90],'Z':[11,65,98,87,56]});
print(df)

    X   Y   Z
0  43  87  11
1  22  76  65
2  45  45  98
3  53  98  87
4  67  90  56

In [10]:
#9. i) Create a list of empids and names (10 employees).
 #  ii) Convert list into Series.
  # iii) Print type of Series.
   #iv) Convert Series into DataFrame.
   #v) a) Display all records.
    #  b) Display first five records.
     # c) Display last five records.
      #d) Display first two and last two records.
      #e) Display name of 5th employee.
      #f) Display record of 4th employee.
   #vi) Save the record in csv file (MyRecord.csv)

employees={'100':"Nikita",'102':"Muskan",'103':"Shital",'104':"Bhagyashri",'105':"Jitendra",'106':"Prajwal",'107':"Rushi",'108':"Sanket",'109':"Mahesh",'110':"Nitin"}

In [11]:
q5=pd.Series(employees)

In [12]:
print(q5)

100        Nikita
102        Muskan
103        Shital
104    Bhagyashri
105      Jitendra
106       Prajwal
107         Rushi
108        Sanket
109        Mahesh
110         Nitin
dtype: object

In [13]:
q6=pd.DataFrame(list(employees.items()),columns=['EmpID','Name'])

In [14]:
print(q6)

  EmpID        Name
0   100      Nikita
1   102      Muskan
2   103      Shital
3   104  Bhagyashri
4   105    Jitendra
5   106     Prajwal
6   107       Rushi
7   108      Sanket
8   109      Mahesh
9   110       Nitin

In [15]:
print(q6.head())

  EmpID        Name
0   100      Nikita
1   102      Muskan
2   103      Shital
3   104  Bhagyashri
4   105    Jitendra

In [16]:
print(q6.tail())

  EmpID     Name
5   106  Prajwal
6   107    Rushi
7   108   Sanket
8   109   Mahesh
9   110    Nitin

In [17]:
print(q6.iloc[[0,1,-2,-1]])

  EmpID    Name
0   100  Nikita
1   102  Muskan
8   109  Mahesh
9   110   Nitin

In [18]:
print(q6.iloc[4]['Name'])

Jitendra

In [19]:
print(q6.iloc[3])

EmpID           104
Name     Bhagyashri
Name: 3, dtype: object